<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellekay.lucie.instaflight" >

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Event"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Speakers"
            android:label="@string/title_activity_speakers"
            android:parentActivityName=".Event"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ellekay.lucie.instaflight.Event" />
        </activity>
        <activity android:name=".Twitter" >
        </activity>
        <activity android:name=".Information" >
        </activity>
        <activity android:name=".Agenda" >
        </activity>
        <activity android:name=".Venue" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".DayOne" >
        </activity>
        <activity android:name=".DayTwo" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af4241f6a55e72bc3dd5b031966f291335b69df3" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
